#about{
    padding-top: 90px;
    padding-bottom: 60px;
}
#mainTxt{
    font-size: 60px;
}
@media(max-width: 850px){
    #mainTxt{
        font-size: 32px;
    }
}

#bodyTxt{
    font-size: 18px;
    color: #000;
    font-weight: 500;
}